doctype html
html(lang='en-us')
head
    meta(charset='utf-8')
    title M.A.P.S github projects
    meta(name='description', content='this is my portfolio')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='css/xpressio.css')
    link(rel='stylesheet', href='css/style.css')
  body
    header.bck.b_black.text.center.color.c_white.padding_small
      nav.inline.middle.margin_small
        span.logo
          h1 #{header}

    section.bck.b_stimulation.text.center.book.color.c_white
      .padding_big
        .row
          .col12
            h1.text.book.margin_bottom_medium
              span Creating your own MD doc files

    section.width60.margin_auto.border.solid.all_big.padding_big.margin_top_medium.margin_bottom_big.addCommentForm
          form( method="post", action="/doc")
              div
                  .margin_auto.padding_small
                    span.label File title :
                    input(name="title", placeholder='file md title')
                  .margin_auto.padding_small
                    span.label Name :
                    input(name="id", placeholder='F-#[trello-ID]')
                  .margin_auto.padding_small
                    span.label Objectives :
                    textarea(name="objectives", placeholder='short desc (max 5 lines)')
                  .margin_auto.padding_small
                    span.label Inspiration :
                    textarea(name="inspiration", placeholder='other features')
                  .with40.margin_auto.padding_small
                    span.label Tech info
                    textarea(name='ti', placeholder='how it works')
                    .margin_auto.padding_small
                      span.label Frontend
                      textarea(name='frontend', placeholder='frontend tech doc')
                    .margin_auto.padding_small
                      span.label Backend
                      textarea(name='frontend', placeholder='backend tech doc')

                  .with40.margin_auto.padding_small#addCommentSubmit
                    input(type="submit", value="Generate Docfile")

    footer
      blockquote #{footer}
    script(type='text/javascript', src='js/crud.js')
