body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background ghostwhite
  margin 0

article
  padding: 50px
a
  color: #00B7FF
.addCommentForm
    padding-bottom 50px
  input[type =text]
    width 30%
    margin-left 38px
  textarea
    width 90%
    height 100px
    margin-left 10px
  input[type =button], input[type =submit], a#api
    clear both
    margin-left 10px
    display inline-block
  span
    display block
  .label
      text-align right !important
      display block
      float left

footer
  position fixed
  bottom 0%
  background black
  color white
  width 100%
  padding 1%
