/* Smartphones (vertical y horizontal) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Estilos a partir de aquí */
}

/* Smartphones (horizontal) ----------- */
@media only screen and (min-width : 321px) {
/* Estilos a partir de aquí */
}

/* Smartphones (vertical) ----------- */
@media only screen and (max-width : 320px) {
/* Estilos a partir de aquí */
}

/* iPads (vertical y horizontal) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Estilos a partir de aquí */
}

/* iPads (horizontal) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Estilos a partir de aquí */
}

/* iPads (vertical) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Estilos a partir de aquí */
}

/* PCs y portátiles ----------- */
@media only screen and (min-width : 1224px) {
/* Estilos a partir de aquí */
}

/* Pantallas grandes ----------- */
@media only screen and (min-width : 1824px) {
/* Estilos a partir de aquí */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Estilos a partir de aquí */
}