body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background ghostwhite
  margin 0

article
  padding: 50px
a
  color: #00B7FF

footer
  position fixed
  bottom 0%
  background black
  color white
  width 98%
  padding 1%

#entries
  margin-bottom 4%
  .entry
    margin 2%
